/* body */

* {
  box-sizing: border-box;
}


body {
    background-image: url("../images/banana_background.png");
    position: relative;
    margin: 0px auto;
}

/* header & nav */

.header-container,
.footer-container {
    width: 100%;
    background:  #f4c9be;
}

.header-container-inner {
    width: 960px;
    margin: 0 auto;
}

#logo {
    background-color:  #f4c9be;
    color: #ffffff;
    width: 25%;
    padding:20px;
    font-family: 'Inconsolata', monospace;
    margin: auto;
    float: left;
    font-size:35px;
}

#logo a:hover {
    font-size: 30px;
}

nav {
    float:right;
    padding:20px;
}

ul {
    float: right;
}

ul li{
    float: left;
    list-style: none;
    padding: 5px 15px;
    letter-spacing: 1.5px;
    font-family: 'Inconsolata', monospace;
}

a {
    text-decoration-line: none;
    color:  white;
    font-size: 20px;
    transition: .1s all ease;
}

a:hover {
    font-size: 18px;
}

a:focus {
    color: white;
}

.nav-border {
    border-right: solid black 1px;
}

.clearfix {
    clear: both;
}

/* main content */

.main-content {
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
    border: solid 1px #cccccc;
    background: white;
    clear: both;
    height: 500px;
    margin-top: 70px;
    margin-bottom: 100px;
}


.page-title {
    background-color: white;
    text-align: left;
    padding: 20px;
    margin: 10px 45px;
    color: #f4c9be;
    border-bottom: solid 1px #cccccc;
    font-family: 'Inconsolata', monospace;
    font-size: 45px;
}

img {
    float: left;
    margin-left:35px;
    margin-right: 25px;
    padding: 20px;
    width: 240px;
    height: 240px;
}

.text-box {
    width: 60%;
    float:left;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    color: #777777;
    font-size:15px;
}

.first-line {
    font-size: 25px;
}

.second-line {
    line-height: 25px;
    padding-top: 10px;
}

img {
    float: left;
    margin-right: 15px;
    padding: 20px;
    width: 240px;
    height: 240px;
}



.footer-container {
    height: 25px;
}

#footer {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size:17px;
    font-family: 'Inconsolata', monospace;
}

/* contact form */

.form-container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}

label, input, textarea {
    text-align: left;
    margin: 10px 20px;
    padding:10px 10px;
    width: 95%;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
}

label {
    text-transform: uppercase;
    width: 100%;
    color: #777777;
    font-size: 20px;
}

textarea {
    height: 100px;
}

.button {
    float: right;
    margin-right: 15px;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    background-color: #b5ebe4;
    color: white;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 2px;
    font-size: 15px;
}

.button:hover {
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
    transform: translateY(4px);
}

/* portfolio cards */

#portfolio-content {
    height: 600px;
}

.card-set {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    width: 85%;
    margin: 20px auto;
    height: 400px;
}

.card {
    border: solid 3px #f4c9be;
    transition: .5s all ease;
}

.card:hover {
    opacity: 0.5;
    transform: translateY(-8px);
}

#card-1 {
    background-image: url("../images/cactus.png"), url("../images/pink_rice.png");
    background-size: 75% 75%, auto;
    background-position: center bottom;
    background-origin: content-box;
    background-repeat: no-repeat;
}

#card-2 {
    background-image: url("../images/piata.png"), url("../images/pink_rice.png");
    background-size: 75% 75%, auto;
    background-position: center bottom;
    background-origin: content-box;
    background-repeat: no-repeat;

}

#card-3 {
    background-image: url("../images/skull-1.png"), url("../images/pink_rice.png");
    background-size: 65% 75%, auto;
    background-position: center bottom;
    background-origin: content-box;
    background-repeat: no-repeat;
}

#card-4 {
    background-image: url("../images/maracas-1.png"), url("../images/pink_rice.png");
    background-size: 65% 75%, auto;
    background-position: center bottom;
    background-origin: content-box;
    background-repeat: no-repeat;
}

#card-5 {
    background-image: url("../images/tequila.png"), url("../images/pink_rice.png");
    background-size: 65% 75%, auto;
    background-position: center bottom;
    background-origin: content-box;
    background-repeat: no-repeat;
}

#card-6 {
    background-image: url("../images/pyramid.png"), url("../images/pink_rice.png");
    background-size: 80% 80%, auto;
    background-position: center bottom;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.banner {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 7px;
    color: white;
    font-family: 'Raleway', sans-serif;
    background: #c6e7e3;
    height: 35px;
    margin: 0 auto;
}

